.category {
  height: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 20px;
}

.category img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
}

.category a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-decoration: none;
  color: rgba(35, 35, 35);
}

.category h2 {
  margin-left: 15px;
}

.category p {
  margin-left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(9, 132, 209);
  margin-bottom: 10px;
}

.category__container {
  position: relative;
  margin-top: -200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 100%;
  padding: 0 40px;
  overflow-x: hidden;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .category__container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 576px) {
  .category__container {
    grid-template-columns: repeat(1, 1fr); 
  }
}
